*{

margin: 0;
padding: 0;
box-sizing: border-box;
}
.Firstimg{

width: 500px;


}
.join{


  width: 135px;
  height: 46px;
  font-weight: 600;
  border: 0;
  background-color: plum;


}
.Second{

background-image: url(../src/Second.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 355px;

}

.Yoga{


  width: 60px;
}